.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  flex-direction: row; /* Arrange children (form and gallery) in a row */
  justify-content: flex-start; /* Align children to the start of the container */
  align-items: flex-start; /* Align children to the top of the container */
  gap: 2rem; /* Control the space between form and gallery */
  padding: 2rem;
}


.nft-form-section {
  width: fit-content;
}
.nft-collection-section {
  flex: 1; /* Allow both sections to grow and shrink as needed */
  min-width: 300px; /* Minimum width before wrapping */
}

.gallery {
  display: inline-flex;
  flex-wrap: wrap-reverse;
  gap: 1rem; /* Spacing between NFT cards */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: calc(33% - 1rem); /* Set width to 1/3rd of the container width minus gap */
  margin-bottom: 1rem; /* Spacing below each card */
  min-height: 450px; /* Adjust this value to suit your design */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes space evenly */
}